version: '3.8'

services:
    mongo:
        image: mongo:7
        container_name: rentals-v2_mongo
        restart: unless-stopped
        ports:
            - '27018:27017'
        environment:
            MONGO_INITDB_ROOT_USERNAME: admin
            MONGO_INITDB_ROOT_PASSWORD: admin
        volumes:
            - ./.docker/mongo:/data/db

    mongo-express:
        image: mongo-express:latest
        container_name: rentals-v2_mongo_express
        restart: unless-stopped
        ports:
            - '8082:8081'
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: admin
            ME_CONFIG_MONGODB_ADMINPASSWORD: admin
            ME_CONFIG_MONGODB_SERVER: mongo
        depends_on:
            - mongo
